In [1]:
fruits = ["яблоко", "банан", "вишня"]
copy2 = fruits[:]
copy2.append("апельсин")

print(fruits)
print(copy2)

['яблоко', 'банан', 'вишня']
['яблоко', 'банан', 'вишня', 'апельсин']

In [ ]:
import copy

nested = [[1, 2], [3, 4]]
deep_copy = copy.deepcopy(nested)
deep_copy[0][0] = 99

print(nested)     # [[1, 2], [3, 4]]
print(deep_copy)  # [[99, 2], [3, 4]]

In [3]:
fruits = ["apple", "kiwi", "banana"]
for fruit in fruits:
    print("i like", fruit)

i like apple
i like kiwi
i like banana

In [11]:
animals = ["mouse", "horse", "cat", "dog"]
animals.append("lion")
print(animals)

['mouse', 'horse', 'cat', 'dog', 'lion']

In [4]:
fruits = ["apple", "kiwi", "banana"]
print(fruits[0])
print(fruits[1])

apple
kiwi

In [2]:
cities = ["Moscow", "London", "Almaty"]
cities[1] = "Seul"
cities.append("Astana")
print(cities)

['Moscow', 'Seul', 'Almaty', 'Astana']

In [5]:
numbers = [3, 7, 8, 15]
total = 1
for number in numbers:
    total = total + number
    print("the sum of all numbers:", total)

the sum of all numbers: 4
the sum of all numbers: 11
the sum of all numbers: 19
the sum of all numbers: 34